@model E_Commerce_Project_Three.Models.DesktopWallpaper

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>原版桌布</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <img class="img-thumbnail" src="@Model.DisplayOriginalImage" alt="原版桌布"/>
</body>
</html>
